@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Playfair+Display:wght@500&display=swap');

header {
    font-family: 'Croissant One', cursive;
    font-size: 35px;
    color:rgb(22, 44, 44);
    text-align: center;
}

body {
    background-color: beige;
    font-family: 'Playfair Display', serif;
    color:rgb(22, 44, 44);
    padding-left: 30px;
    padding-right: 200px;
}


img {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

.ingredients-dough {
    border: 1px solid;
    text-align: center;
    color:rgb(22, 44, 44);

    
}

.instructions {
    color:rgb(22, 44, 44);
}